* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Sofadi One, sans-serif;
    height: 100vh;
}

.container {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.block {
    padding: 20px;
    background-color: #f4f4f4;
}

.block1 {
    width: 100%;
    height: 100px;
    background-color: #9381FF;
    position: relative;
}

.block1 h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.block2 {
    float: left;
    width: 20%;
    background-color: #B8B8FF;
    height: calc(100% - 180px);
    position: relative;
}

.block_1 {
    position: absolute;
    bottom: 90px;
    left: 0;
    width: 20%;
    height: calc(100% - 380px);
    background-color: #B8B8FF;
}

.block3 {
    float: right;
    width: 80%;
    height: 155px;
    background-color: #FFEEDD;
}

.block5 {
    float: right;
    width: 20%;
    height: calc(100% - 245px);
    background-color: #FFD8BE;
    position: relative;
}

.block_2 {
    position: absolute;
    bottom: 90px;
    right: 0;
    width: 20%;
    height: calc(100% - 540px);
    background-color: #FFD8BE;
}

.block4 {
    float: left;
    width: 60%;
    height: calc(100% - 245px);
    background-color: #F8F7FF;
    position: relative;
}

.block4 p {
    margin-top: 10px;
}

.image-container {
    text-align: center;
}

.block6 {
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #9381FF;
    position: relative;
}

.block6 h1 {
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

img {
    max-width: 100%;
    height: auto;
}
